*.pyc
*.swp
*~
*.sqlite3
*.coverage
test.run
*.py,cover
tests/html/
pyenv/
py_env/
src/code_quality/
*egg*
*dist*
*.log
.cache
htmlcov
.ropeproject
__pycache__/

agent.csr
agent.key
agent.crt

tools/agent_public_repo/

.agentconfig.json
.agentconfig.yaml_example
.agentdata.db
agentconfig.yaml_nonexist

src/data_ignored.trash

.project
.pydevproject
.settings

.vagrant/
vagrant_ansible_inventory_default

build/
configuration.please.change.me
