*.pyc
*.swp
*~
*.sqlite3
*.coverage
test.run
*.py,cover
tests/html/
pyenv/
py_env/
build/
src/code_quality/
*egg*
*dist*
*.log
.cache
htmlcov
.ropeproject
__pycache__/

agent.csr
agent.key
agent.crt
ca.crt

tools/.certs/*.csr
tools/.certs/*.crt
tools/.certs/*.key
tools/.certs/*.pem
tools/.certs/index.txt*
tools/.certs/index_agents.txt
tools/.certs/serial
tools/.certs/serial_agents
tools/.certs/serial.old
tools/.certs/*_passphrase

tools/agent_public_repo/

.agentconfig.json
.agentconfig.yaml_example
.agentdata.db
agentconfig.yaml_nonexist

src/services/rabbitmq.service
src/services/redis.config
src/services/celery.service

src/data_ignored.trash

src/whmonit/webclient/build/
src/whmonit/webclient/docs/
src/whmonit/webclient/src/app/wh-meta.js
src/whmonit/webclient/.sass-cache/

.project
.pydevproject
.settings

src/.pants.d/

.vagrant/
vagrant_ansible_inventory_default

build
configuration.please.change.me
